<% const isAchieved = ((data.endorse_number >= threshold) && data.secondStepCompletedAt); %>
<html>

<head>
    <meta property="og:description" content="<%= data.content %>">
    <meta property="og:type" content="article">
    <meta property="article:author" content="https://www.facebook.com/128794183874722">
    <meta property="og:url" content="<%= data.url %>" />
    <meta property="og:rich_attachment" content="true" />
    <link href="<%= data.rssUrl %>" rel="alternate" type="application/rss+xml" title="Sitewide RSS Feed" />
    <%- include('../head', {title : data.title + ' | ' + webTitle}) %>
    <link rel="stylesheet" href="/styles/stepBar.css">
</head>

<body>
    <% include ../nav %>
    <link rel="stylesheet" href="/styles/detail.css">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-home fa-1x fa-inverse" aria-hidden="true"></i> 首頁</a></li>
            <li><a href="/<%= data.type %>/"><%= data.typeZh %></a></li>
            <li class="active"><%= data.title %></li>
        </ol>
        <div class="case-container <%= data.type %>-case-container">
            <header class="page-header">
                <p id="author">提議者 <span><%= (data.isAnonymous) ? '匿名' : data.user.givenName %></span></p>
                <div id="detail-header">
                    <h1><%= data.title %></h1>
                    <div id="right-block">
                        <span>尚須
                        <%= (isAchieved) ? 0 : threshold - data.endorse_number %> 個附議</span>
                        <div class="right-block endorse-block">
                            已附議：
                            <span id="endorse-number"><%= data.endorse_number %></span>
                        </div>
                        <div class="right-block">
                            <form name="attention" action="/attention/<%= data.id %>/<%= (data.isAttention) ? 'delete' : 'add' %>" method="get">
                                <button 
                                    type="button" 
                                    data-toggle="tooltip" 
                                    data-placement="top" 
                                    data-original-title="請「允許通知權限」以關注議題喔" 
                                    id="attention-btn" 
                                    class="<%= (data.isAttention) ? 'active' : '' %> btn btn-success">
                                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
                                    <span>關注</span>
                                </button>
                            </form>
                        </div>
                        <div class="right-block">
                            <span>分享至
                                <a id="fb-share" title="分享到Facebook" href="" target="_blank" class="meddelare-network facebook" data-meddelare-network="facebook" data-count="0">
                                    <i class="fa fa-facebook-square" aria-hidden="true"></i><span id="fb-share-num" class="badge">0</span>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
            <%
                let step = 1;
                if(data.thirdStepCompletedAt) step = 4;
                else if (data.secondStepCompletedAt) step = 2;
                function determineStepStatus(i) {return (i < step)?'active':(i === step)?'active focus':''}
            %>
            <ul class="progressbar">
                <li class="<%= determineStepStatus(0) %>">
                    <p>提議階段</p>
                    <p><%= formatDate(data.createdAt) %></p>
                    <p>已完成提案</p>
                </li>
                <li class="<%= determineStepStatus(1) %>">
                    <p>附議階段</p>
                    <p><%= (data.secondStepCompletedAt)?formatDate(data.secondStepCompletedAt):'附議中' %></p>
                    <p><%= (data.secondStepCompletedAt)?'已通過':'　' %></p>
                </li>
                <li class="<%= determineStepStatus(2) %>">
                    <p>回應階段</p>
                    <p>
                        <% if(data.thirdStepCompletedAt) { %>
                            <%= formatDate(data.thirdStepCompletedAt) %>
                        <% } else if(data.secondStepCompletedAt) { %>
                            將於
                            <%= formatDate(new Date(data.secondStepCompletedAt.getTime() + Number(response_day_limit) * 24 * 60 * 60 *1000)) %>前回應
                        <% } %>
                    </p>
                    <p>
                        <% if(data.thirdStepCompletedAt) { %>
                            <%= '已回應' %>
                        <% } else if(data.secondStepCompletedAt) { %>
                            <%= '等候機關回應' %>
                        <% } %>
                    </p>
                </li>
                <li class="<%= determineStepStatus(3) %>">
                    <p>結案階段</p>
                    <p><%= (data.fourthStepCompletedAt)?formatDate(data.fourthStepCompletedAt):'　' %></p>
                    <p><%= (data.fourthStepCompletedAt)?'已結案':'　' %></p>
                </li>
            </ul>
            <% if(data.image) { %>
                <img id="pic" src="<%= data.image %>">
            <% } %>
            <p><%= data.content %></p>
            <%= (isAchieved)?'已達標':`尚須${threshold - data.endorse_number}個附議` %> ，已附議
            <%= data.endorse_number %>
            <div class="progress">
                <div id="progressBar" class="progress-bar progress-bar-<%= (isAchieved)?'success':'warning' %> progress-bar-striped <%= (!isAchieved)?'active':'' %>" role="progressbar" aria-valuenow="<%= (isAchieved)? data.endorse_number : 100 %>" aria-valuemin="0" aria-valuemax="<%= threshold %>"
                    style="width: 0%">
                    <%= (!isAchieved) ? Math.floor(data.endorse_number / threshold * 100) : 100 %>%
                    <%= (isAchieved)?' 已達標':'' %>
                </div>
            </div>
            <script>
                const progressBar = document.getElementById('progressBar');
                progressBar.style.width = '<%= (!isAchieved) ? (data.endorse_number / threshold * 100) : 100 %>%';
            </script>
            <form action="/endorse" method="POST">
                <% const isEndorse = (typeof user === 'undefined') ? false : Boolean(data.endorses.find((e) => e.userId === user.id)) %>
                <button 
                    <%= (isEndorse) ? 'disabled' : '' %>
                    type="submit" 
                    class="<%= (isEndorse) ? 'active': '' %> btn btn-primary btn-lg btn-block btn-endorse" 
                    role="button">
                    <span class="fa fa-hand-paper-o" aria-hidden="true"></span><span id="endorse-text"><%= (!isEndorse) ? ' 我要附議！！' : ' 已附議' %></span>
                </button>
                <input type="hidden" name="caseId" value="<%= data.id %>">
            </form>
            <p></p>
            <% if(data.responses && data.responses.length > 0) { %>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h4><i class="fa fa-university" aria-hidden="true"></i> 回應</h4></div>
                        <ul class="list-group">
                            <% data.responses.sort((a, b) => a.createdAt.getTime() - b.createdAt.getTime()).forEach((e) => { %>
                                <li class="list-group-item">
                                    <p><h4>回應日期：<%= formatDate(e.createdAt) %>回應單位： 學生會</h4></p>
                                    <p><h4>回應內容：</h4></p>
                                    <p><%= e.content %></p>
                                </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="fb-comments" data-href="<%= data.url %>" data-numposts="5"></div>
    </div>
    <% include ../footer %>
    <script src="/js/detail.js"></script>

</body>

</html>
